body._lock {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #373b44 0%, rgba(66, 134, 244, 15) 100%);
}

.header__container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

.header__logo {
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}

.menu__list > li {
    margin: 0px 0px 0px 20px;
}

.menu__link {
    color: white;
    font-size: 18px;
}

.menu__link:hover {
    background-color: slateblue;
}

.menu__icon {
    display: none;
}

@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list > li {
        padding: 10px 0;
    }
}

@media (max-width: 767px) {
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon::before,
    .menu__icon::after,
    .menu__icon span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -110%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 50px;
        z-index: 2;
        background: linear-gradient(90deg, #373b44 0%, rgba(66, 134, 244, 15) 100%);
    }

    .menu__list {
        display: block;
    }

    .menu__list > li {
        margin: 0px 0px 30px 0px;
    }

    .menu__list > li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        font-size: 24px;
    }
}

.top-main {
    /*margin-top: 50px;*/
    text-align: center;
    background: #e2e2e2;
    color: black;
    padding: 20px 20px 100px;
}

.bottom-main {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

body {
    margin: 0;
    float: top;
    margin-block: 0;
}

main {
    margin-top: 50px;
    border: 20px double black;
    padding: 10px;
    background: #e2e2e2;

}

footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    padding-top: 20px;
    background: linear-gradient(90deg, rgba(66, 134, 244, 15) 0%, #373b44 100%);
}

h1,
h4,
ul,
pre,
p,
blockquote {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    filter: drop-shadow(0 0 0.75rem rgba(66, 134, 244, 15));
}

@media (max-width: 767px) {
    .bottom-main img {
        width: 100%;
    }
}

li {
    list-style-type: none;
}


.contact {
    text-align: right;
    padding: 0;
}

#quote {
    text-align: left;
}

#greet {
    font-family: "Times New Roman";
    font-size: 24px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
}

.contact_info {
    display: flex;
}

.j_quote {
    display: flex;
}

.info_quote {
    display: flex;
    justify-content: space-between;
}

.table {
    text-align: center;
    width: 100%;
}

.table__title {
    font-size: 32px;
    padding-top: 40px;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
    overflow: auto;
}

.box {
    font-size: 24px;
    line-height: 33px;
    padding: 1em;
}

.box:nth-child(n + 5):nth-child(-n + 8) {
    background-color: lightskyblue;
}

.box:nth-child(n + 13):nth-child(-n + 16) {
    background-color: lightskyblue;
}

.box:nth-child(n + 21):nth-child(-n + 24) {
    background-color: lightskyblue;
}

body.page__section_1 {
    display: flex;
    flex-direction: column;
}

.examples__header {
    position: fixed;
}

.examples__main {
    flex-grow: 1;
    min-height: calc(100vh - 120px);
}

.post {
    border: solid black;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}


.post h3 {
    margin: 0;
    color: red;
}

.current {
    text-decoration: underline;
    font-weight: bold;
}

#gif {
    visibility: hidden;
}

#err {
    visibility: hidden;
}